* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: sticky;
  inset: 0 0 100% 0;
  /* bottom is 100 in inset */
  z-index: 90;
  background-color: white;
  padding: 0.5rem
    /* display: flex; */

}

nav {
  display: flex;
  align-items: center;
  /* max-width: 1280px; */
  justify-content: space-between;
  /* height: 120px; */
  height: 72px;

  margin: 0 auto;

  /* top: 0;
  left: 0; */

  /* width: 100%; */
  /* z-index: 30; */
  /* background-color: white; */
  /* margin-bottom: 300px;  */
  /* top: 0; */

  /* background-color: antiquewhite; */
}

.nav-right {
  display: flex;
  text-decoration: none;


}

.logo {
  cursor: pointer;
}

.item {
  border-style: none;
  border-right: none;
  text-decoration: none;
  padding: 20px;
  /* cursor: pointer; */

}



/* logo */

.logo {
  width: 200px;
  height: 100px;
  font-weight: 800;
  padding: 1rem;
  margin-top: 3rem;
  color: black;
  text-decoration: none;

}




.logo:hover {
  color: grey;
}